<?xml version="1.0" encoding="UTF-8"?>
<Server port="3007" shutdown="SHUTDOWN">

	<Listener className="com.angkorteam.tomcat.InstanceListener" />

	<Listener
		className="org.apache.catalina.startup.VersionLoggerListener" />

	<Listener
		className="org.apache.catalina.core.AprLifecycleListener"
		SSLEngine="on" />

	<Listener
		className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />

	<Listener
		className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

	<Listener
		className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

	<GlobalNamingResources>

		<Resource name="UserDatabase" auth="Container"
			type="org.apache.catalina.UserDatabase"
			description="User database that can be updated and saved"
			factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
			pathname="conf/tomcat-users.xml" />

	</GlobalNamingResources>

	<Service name="Catalina">

		<Engine name="Catalina" defaultHost="localhost">
			<Realm className="org.apache.catalina.realm.LockOutRealm">
				<Realm className="org.apache.catalina.realm.UserDatabaseRealm"
					resourceName="UserDatabase" />
			</Realm>
		</Engine>

	</Service>

</Server>
